*{
    margin:0px;
    Padding: 0px;

}

.Header{
    display:flex;
    justify-content: center;
}
.navbar{ 
        align-items: center;
        justify-content: start;
        color: white;
        background-color: black;
        height: 90px;
        width:70%;
}
h1{
    margin:30px;
}
.centered {
display: flex;
}
.title {
    margin:20px 0px;
    display: flex;
    justify-content: center;
}
.left{
    display: flex;
    margin-left: 15%;
}
.avatar{
    border: rgb(19, 4, 2) solid;
    height: 300px;
    width:200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 50px;
}
#ninja{
margin-left:50px;
    height: 80px;
    width:80px;
    border: solid rgb(17, 17, 17);
    border-radius: 90px;
}
/* jaw ml page lo5ra */
.container{

    border: Solid black ;
    height: 140px;
    width: 600px;

}
.user{margin:10px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.like{
    margin-right: 30px;
    gap: 20px;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.btnlike{
    background-color:#ffd966;
    height:30px;
    width: 70px;
    box-shadow: 5px 5px 5px black;
}
/* rjaana l code mtaana */
.profiles{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 100px;
    width: 400px;
}
.paragraph{
    margin-left:10px ;

}