*{
    margin:0px;
    Padding: 0px;

}
body{
    display: flex;
    justify-content: center;}

.navbar{
        align-items: center;
        justify-content: start;
        color: white;
        background-color: black;
        height: 90px;
        width:1000px;
}
h1{
    margin:30px;
}
.centered {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #999;
    margin-bottom: 40px;
}
.left {
    flex: 1;
}
